[2017-07-29 01:00] rodrigomonelos opened #1 "Download and install the app"
As a potential user of the app I need to download and install it to my smarthphone to use it
Acceptance criteria:
- The app will be available in http://pearlcel.webph.one
- While using a SAMSUNG J1/J2/J3, BLU, Huawei (3 brands and models commonly used among the target population) smartphone with Android (OS’s that we want the app to work in) operative system, when following a link to http://pearlc

[2017-07-29 01:05] rodrigomonelos opened #2 "Test what is available to be tested without waiting for the front end"
Edwin, I think that it should be related with what we suggested in the acceptance criteria for "Call from the app to a GSM SayCel phone", but also any other tests you find valuable to execute with what we already have available.

[2017-07-29 01:07] rodrigomonelos opened #3 "Call from the app to a GSM SayCel phone"
As a user of the app I need to make a call to a GSM phone of someone who is connected to the SayCel network to communicate free of charge with that person.
Acceptance criteria
- The screen to make calls in the app will be in like described in the MVP document.
- Connecting: While having the app open and connected (Family members of users in the PearlCel network working on Cruise Ships, Family memb

[2017-07-29 01:09] rodrigomonelos opened #4 "Pending definitions for "Call App --> GSM""
How will the app screen look like while dialing?
How will the app screen look like once the call is established?

[2017-08-11 13:49] rodrigomonelos opened #9 "Directory"
49927 Green Lodge
43333 Radio Caribbean Pearl / PearlCel Office
41969 Tourism Information
23956 Warner’s Place Hotel
20977 Flashy Wholesale and Money Transfer

[2017-08-11 14:05] rodrigomonelos opened #10 "Call from Directory"
As an app user I need to call a place in the Directory by just clicking on it so it is simpler, faster and avoids mistakes

Acceptance criteria:
Call 3 numbers in the directory and get with the right place

[2017-08-11 16:01] rodrigomonelos opened #11 "Make calls work"
Call to Pearl Lagoon
Call Rhizomatica

[2017-08-11 16:10] rodrigomonelos opened #12 "Add to directory"
JSON plano

[2017-08-11 16:18] rodrigomonelos opened #13 "[Analytics] How many people have tried making calls using app. day/ week / month / forever."
As sponsor of the project I need to know how many people is using the app to see if...

[2017-08-12 16:50] #3 closed

[2017-08-14 13:58] #1 closed

[2017-08-14 13:58] #11 closed

[2017-08-16 22:08] rodrigomonelos opened #15 "Give feedback"
As an app user I need to share my comments and suggestions to <main value of this story>.

Acceptance criteria:
- Follow the design on the drive presentation

[2017-08-16 22:09] rodrigomonelos opened #16 "Contribute"
As an app user I need to know how to contribute to the open source project to <main value of this story>

Acceptance criteria
+ While using the app on the share tab, when tapping on the contribute link, the app will open a web explorer pointing to <git url>.

[2017-08-16 22:10] rodrigomonelos opened #17 "Share the app"
As an app user I need to share it with other persons so they know it exists and use it.
Acceptance criteria
+ While using the app on the share tab, when tapping on the share link, a prompt will appear offering the available apps to share with.
+ When choosing one app and specifying the target contact(s) to share with, a message will be sent to them to download the app.
+ How does the share message

[2017-08-16 22:15] rodrigomonelos opened #18 "App with Rhizomatica's brand"
Acceptance criteria:
+ logo color scheme as shared by Peter on the "Rhizomatica Branding / SayCel App." thread

[2017-08-16 22:18] rodrigomonelos opened #19 "App version pointing to rhizomatica's systems"
+ point to sip.rhizomatica.org
+ download link for the app

[2017-08-21 21:29] #10 closed

[2017-08-23 22:08] gmarcos87 opened #21 "Reducing call setup time"
As the WebRTC gateway server has a public IP address anyway, we actually do not really need the client's public IP address anyway, and hence can disable using STUN by removing the STUN servers from the UA configuration (e.g. iceServers    : [ { urls : [ ] } ]).

[2017-08-29 14:49] #16 closed

[2017-08-29 14:49] #17 closed

[2017-08-29 14:49] #18 closed

[2017-08-29 14:49] #19 closed

[2017-08-29 14:49] #21 closed

[2017-08-29 15:00] gmarcos87 opened #27 "Fix / Size screen requires scrolling"
The app currently takes the device resolution as the highest total. When opened in a browser this requires you to scroll to see the buttons. To fix it the app must adopt the total visible size and not the device.

[2017-08-29 15:02] gmarcos87 opened #28 "Fix / Make buttons back to gray after pushing"
The buttons on the dialpad behave like HTML elements, which when pressed hold their active state. Remove the background attribute on the buttons of the dialpad when they are active to avoid the appearance of still pressed.

[2017-08-29 15:04] gmarcos87 opened #29 "Fix / Noise after calling"
Currently the sound at the end of a call is the same for a case of error or a successful case. Switch to a kinder sound for the successful case and remove it in error. Then the messages corresponding to the errors will be applied.

[2017-08-29 17:05] #29 closed

[2017-08-29 20:27] gmarcos87 opened #33 "Fix #27 #28 and #29 to Rhizomatica"
Apply changes on Rhizomatica flavor
#27 #28 #29

[2017-08-29 20:28] #27 closed

[2017-08-29 20:28] #28 closed

[2017-08-29 21:12] #33 closed

[2017-08-30 14:13] gmarcos87 opened #36 "Error codes on SayCel"
404 (Not found)
SAYCEL:  Sound: "please check the number and try again; porfavor checa el numero y intenta otra vez"

408 Timeout (no answer received even though the user is registered)
Ring 10 times, hangup

480 Offline
SAYCEL: Sound: "the user you are trying to reach is currently not available; El usuario al que estás intentando llamar no está disponible"

All other errors
SayCel:  "Sorry we cou

[2017-08-30 17:51] gmarcos87 opened #40 "Error codes on Rhizomatica"

[2017-08-30 17:59] gmarcos87 opened #42 "Remove Share on Rhizomatica version"

[2017-08-31 15:04] gmarcos87 opened #43 "See my contacts"
This issue requires several parts:
- [x] #44 Setup localStorage
- [x] #45 Load list in Directory View
- [x] #48 Make the contact list collapsible.
- [x] #47 Save Contacts
- [x] #49 Edit contact
- [x] #50 Remove contact

[2017-08-31 15:07] gmarcos87 opened #44 "Setup localStorage"
To store data in localStorage I decided to use the LocalForge library. It is exactly like LocalStorage, with the only difference that it uses promises, this means that each time a query is made, LocalForage returns a response with the success status or error.
Not only will it be used to store contacts, in the future it can store tokens and user data.
You can read more at https://localforage.github

[2017-08-31 15:10] gmarcos87 opened #45 "Load list in Directory View"
The list of contacts should be shown in the Directory tab. As SayCel uses telephone directory system should differentiate. This applies differently in the Rhizomatica version.

[2017-09-01 00:00] #44 closed

[2017-09-01 00:07] #36 closed

[2017-09-01 00:07] #40 closed

[2017-09-01 00:07] #42 closed

[2017-09-01 00:07] #45 closed

[2017-09-01 00:09] gmarcos87 opened #47 "Add contact before dialing"
After you make or receive a call you should be able to add a contact. The contact will be added to your phone directory which will load into the app.

[2017-09-01 00:12] gmarcos87 opened #48 "Directory and Contacts will be drop downs"

[2017-09-01 00:29] gmarcos87 opened #49 "Edit contact from list"

[2017-09-01 00:30] gmarcos87 opened #50 "Remove contact from list"

[2017-09-07 21:23] Tcat1 opened #51 "After cutting calls in app audio still rings on receivers phone"
When i was calling with app it was ringing a friends phone when i heard it ring i cut call on app but it continued to ring on their phone

[2017-09-14 18:59] rodrigomonelos opened #55 "Number assigned (simplest case)"
As a new app user who does not have a Comm number I need to have a number where I can be called

[2017-09-14 19:00] rodrigomonelos opened #56 "Receive calls when the app is in front"
As an app user I need to be able to receive calls when the app is in front

[2017-09-14 19:00] rodrigomonelos opened #57 "Receive calls in background"
As an app user I need to be able to receive calls, even if the app is in background

[2017-09-14 19:01] rodrigomonelos opened #58 "Know my number"
As an app user I need an easy way to know my number so I can give it to other people

[2017-09-14 19:02] rodrigomonelos opened #59 "Feedback after the call"
As SayCel/Rhizo I need to have users feedback from the calls so…

See screen in https://drive.google.com/open?id=1bTp4rkCRTbmGtkETeMht9AFm5GBlAmBrZeXDnFnA9QM

### Acceptance criteria
- [x] Me pide feedback después de cada llamada
- [x] Uso las funcionalidades de la pantalla correctamente
- [x] El feedback se guarda correctamente (rating, opción, texto y número)

[2017-09-14 21:41] rodrigomonelos commented on #48
I see this done, isn't it?

[2017-09-14 23:03] gmarcos87 commented on #48
Yes, it's done.

El 14 sept. 2017 18:41, "rodrigomonelos" <notifications@github.com>
escribió:

[2017-09-22 15:59] rodrigomonelos opened #62 "[Medium] Share through whatsapp not working"
When I choose to share the app through Whatsapp nothing happens

[2017-09-22 16:00] rodrigomonelos opened #63 "[Medium] Share through SMS not working"
When I choose to share the app through SMS nothing happens

[2017-09-22 17:27] #63 closed

[2017-09-22 17:27] rodrigomonelos commented on #63
Was using an old version

[2017-09-22 17:28] rodrigomonelos commented on #62
Was using an old version

[2017-09-22 17:28] #62 closed

[2017-09-22 18:28] rodrigomonelos commented on #15
Qué falta para cerrar esta?

[2017-09-22 18:30] #4 closed

[2017-09-22 18:31] #2 closed

[2017-09-22 18:31] #13 closed

[2017-09-22 18:38] rodrigomonelos commented on #47
I close this issue and add to the Product Backlog an item for adding the contact after receiving a call

[2017-09-22 18:38] #47 closed

[2017-09-22 18:40] rodrigomonelos commented on #43
Done, isn't it? I will close it.

[2017-09-22 18:40] #43 closed

[2017-09-22 18:40] #48 closed

[2017-09-22 18:43] #49 closed

[2017-09-22 18:43] #50 closed

[2017-09-25 02:51] nicopace opened #64 "Sometimes the volume is too low and there is nothing to do about that"

[2017-09-26 20:16] #55 closed

[2017-09-26 20:17] #58 closed

[2017-09-26 20:25] rodrigomonelos opened #65 "Receive call when the app is in front, no matter which tab of the app we are looking at"

[2017-09-26 20:27] rodrigomonelos commented on #56
Partially resolved. Will be closed and two new issues (slices) will be created to complete the user story:
- receive the call no mather which tab we are looking at
- connect the call that is ringing

[2017-09-26 20:27] #56 closed

[2017-09-26 20:29] rodrigomonelos opened #66 "Get the incoming call connected (app to app and Rhizomática)"
Splitted this story from the one of calling from SayCel network
### Testing scenarios
**GSM to App**
- [x] GSM in Rhizomática to APP in NY

**App to App**

- [x] Chrome on laptop to App on MotoG both in Argentina (Rodrigo)

[2017-09-26 20:31] rodrigomonelos opened #67 "Show a notification when the call is incoming and the app is in not in foreground but loaded"

[2017-09-26 20:32] rodrigomonelos opened #68 "Include app version on the feedback record"

[2017-09-26 20:33] rodrigomonelos opened #69 "Show app version so the testing results can indicate where an issue was found"

[2017-09-30 07:49] nicopace opened #73 "detect non-compatible browsers"
I've seen many videos in the saycel channel trying with different browsers that are for sure not compatible with the project.
https://www.youtube.com/watch?v=XhfQFvT8dIo

I would suggest to do feature detection and tell the user to shift to a compatible browser

[2017-10-02 13:00] nicopace opened #74 "Rejecting a call blocks the overlay"
# How to reproduce

1. load the app
2. put it in background
3. it will ring, bring it to foreground and press the reject button

# What happens

the overlay doesn't dissapear

# What should happen

the overlay should dissapear

[2017-10-02 13:45] nicopace opened #75 "Add support for sentry"
this is the code for having support of sentry in the app (extracted from https://sentry.webph.one/sentry/angular/getting-started/javascript-angular/):

[code]

[2017-10-03 18:17] nicopace opened #76 "[bug] replying to a call in an inactive app doesn't allow to reply"
# Steps to reproduce

Open the app
send it to background
wait for an incoming call
it will ring, and will appear a notification
click the notification, nothing will happen
switch to the app
the incoming call will be there
click in accept the call

# what should happen

the call gets accepted

# what happens

the ringing keeps on
the call is not accepted
no matter how many times you press the accep

[2017-10-05 19:02] gmarcos87 commented on #76
The problem happens when you want to end a session that is terminated by an error or by the remote user. It will be solved in the next pull-request.

[2017-10-05 19:02] #76 closed

[2017-10-07 10:06] sanchi opened #78 "changing tabs (Call -> Directory -> Call) removes the entered phone number"
would be nice if the number already dialed would stay

[2017-10-07 10:07] sanchi opened #79 "entering number by keyboard"
on Desktop, it would be nice to be able to enter the number with the keyboard

[2017-10-07 10:10] sanchi opened #80 "Contact list: Click on name (not call button) doesn't load the number"
In "Pearl Lagoon Directory", a click on a name (left) loads the number. In Contact list only the click on the call button (right) loads the number.

also maybe consider "Contact list" -> Contact "List" to be consistent with Directory

[2017-10-07 10:28] sanchi opened #81 "Show when call is Connected (instead of "Calling ...")"
Currently, the Overlay still says 'Calling ....' even when connected. This can be very confusing (especially when there's audio issues), as it's not clear to the user whether it really has connected.

[2017-10-07 10:32] sanchi opened #82 "call Chrome/Desktop -> Chrome/Android: call doesn't end after hangup"
when calling from Chrome/Desktop -> Android, and hanging up on Android : It does emit 'ended' but then it doesn't close the 'Calling' overlay:

![calling](https://user-images.githubusercontent.com/45229/31306981-7c32b06a-ab5b-11e7-907e-b898b8783acb.png)

[2017-10-07 10:33] sanchi opened #83 "call Android -> Desktop: Ringing continues after picking up"
when trying to call Android -> Desktop: it doesn't get the 'confirmed', and it continues ringing on the Desktop:

![confirmed](https://user-images.githubusercontent.com/45229/31306999-bab897dc-ab5b-11e7-88cd-4e1021949855.png)

probably related to #82

[2017-10-07 10:54] sanchi opened #84 "Push notifications can't be interpreted if app not installed"
Without doing 'Add to home screen', I do receive a push notification, but when I click on 'Accept' the phone asks me with what application to open with:

![screenshot_20171007-134142](https://user-images.githubusercontent.com/45229/31307170-7d050652-ab5e-11e7-86d6-3afa34ab2865.png)

![Uploading Screenshot_20171007-134107.png…]()

Android 6.0.1 (HTC one M8, ViperOneM8 6.1.0)

[2017-10-07 10:55] sanchi commented on #84
![screenshot_20171007-134107](https://user-images.githubusercontent.com/45229/31307181-b5dec6f2-ab5e-11e7-9c7e-0c2c6e612fc6.png)

[2017-10-07 10:56] sanchi commented on #84
Not sure whether a push notification should be sent at all if the app has not been installed

[2017-10-07 12:52] #82 closed

[2017-10-07 12:53] #83 closed

[2017-10-07 13:56] #65 closed

[2017-10-07 14:08] #74 closed

[2017-10-09 17:14] rodrigomonelos commented on #57
- [x] Trying tasks list to see if they are a good idea

- [ ] For tracking the execution of the tests

[2017-10-09 17:16] rodrigomonelos commented on #66
- [ ] Get connected a call from GSM to App

[2017-10-11 07:39] gmarcos87 commented on #57
Fragmentation of push notifications:
- [ ]  Check if the user is registered in the webpush backend when starting the application
- [ ]  Request to show notifications and register user
- [ ]  Show notification when the application is not open and receives a call
- [ ]  Show notification when application is open, but in foreground and recives to call
- [ ]  Reply or reject a notification call
- [ ]

[2017-10-11 07:39] gmarcos87 commented on #67
Related #57

[2017-10-11 13:46] rodrigomonelos opened #88 "See an incoming call notification while the app is closed"
As an app user I need to see a notification when there is an incoming call and the app is closed
Value: to notice that someone is calling me.

Acceptance criteria

- [ ] While having the app instaled but closed and the cell phone locked, when receiving an incoming call, there is a notification that pops up and lets me know that there is a call

Review testing

...?

[2017-10-11 14:52] rodrigomonelos opened #89 "Request to show notifications and register user"
As an app user I need to be asked about receiving notifications so I can accept them and start receiving notifications when there are relevant events (so far calls)

**Acceptance criteria**
- [x] **[Primera instalación]** After the first time I install the app, when I open it, a message apears asking me if I accept to receive notifications.

**Otras preguntas**

- ¿Qué pasa si quiero cancelar el p

[2017-10-11 14:57] rodrigomonelos opened #90 "Ask user again about accepting notifications (after denying)"
As an app user I need to be asked again in case I denied the permision for notifications so I can change my decision.

This message will appear every time the user opens the app in case notifications were rejected.
This requires the app to check if the user is registered in the webpush backend when starting the application

[2017-10-11 14:59] rodrigomonelos opened #91 "Message for the user explaining the problem with not allowing notifications"
As an app user I need to be aware that if I do not accept notifications, I will not notice that there are incoming calls unless the app is in foreground, so I can evaluate my decision.
The app shows a message explaining this to the user if he/she denied the permision for showing notifications or just didn't answered to the request.
The message says: "You denied or not answered the request to show

[2017-10-11 15:39] gmarcos87 commented on #89
Si quisieras revocar el permiso de notificaciones (hoy no hay GUI para esa función) se podría hacer. Incluso en el navegador si haces click en el candado de ssl podes gestionar los permisos de cada aplicación web (notificaciones, multimedia, gps, etc)
![captura de pantalla de 2017-10-11 12-34-53](https://user-images.githubusercontent.com/10773838/31450766-a7d33780-ae80-11e7-8d68-16a2abb83626.png)

[2017-10-12 09:28] rodrigomonelos opened #93 "[Permisos para notificaciones] Recordar la selección del usuario"
**[Recordar la selección del usuario]**
- [x] User response to receive notifications is saved on the system.
- [x] Una vez que acepté, cuando vuelvo a iniciar el celular o ingresar a la app después de cerrarla, no me pregunta.
- [x] **[Recordar después de remover]** ¿user response is remembered after removing the app? instalar, aceptar las notificaciones, desinstalar, volver a instalar. Que si no

[2017-10-12 09:33] rodrigomonelos commented on #89
**Testeada ok** que pide permiso.

- Separé un ítem relacionado con que se "recuerde la seleccion del usuario" https://github.com/saycel/webph.one/issues/93 para testearlo aparte (lo puse como Done).
- Agregé en el Product Backlog (https://docs.google.com/document/d/1BFrZphkxLSyHxd_TajU3FDdh2doYOLs5CRZD9S6QT2c/edit#) una línea de "Gestión avanzada de notificaciones desde el dispositivo del usuario

[2017-10-12 09:38] rodrigomonelos opened #94 "Reply or reject a notification call when the app is open in back"
- [x] Answer phone locked
- [x] Answer phone open
- [x] Reject phone locked
- [x] Reject phone open

[2017-10-12 09:38] rodrigomonelos opened #95 "Reply or reject a notification call when the app is closed"
- [x] Reply phone open
- [x] Reply phone closed
- [x] Reject phone open
- [x] Reject phone closed

[2017-10-12 09:38] rodrigomonelos opened #96 "Ring when receiving a call and the app is open but in background"

[2017-10-12 09:38] rodrigomonelos opened #97 "Notification when the app is open but in background"
Ver la notificación de llamada entrante

- [x] En celular
- [x] En desktop

[2017-10-12 13:40] rodrigomonelos commented on #57
@gmarcos87 creé en el kanban las tarjetas y los issues en los que abrimos esta historia ayer. Propongo cerrar esta y trackeamos sobre las individuales. Son:

- **Ver** notificación cuando la app está en **background** (https://github.com/saycel/webph.one/issues/97)
- **Notificación** con la app **cerrada** (https://github.com/saycel/webph.one/issues/88)
- **Ring** con la app en background (https:/

[2017-10-12 13:40] #57 closed

[2017-10-12 13:52] rodrigomonelos commented on #66
Waiting for responses of K or Peter to be tested from Rhizomática Network.
Waiting for news from Dhruv about the SayCel infra situation (will be talking today in the afternoon)

[2017-10-12 14:03] rodrigomonelos commented on #68
@gmarcos87 Cómo puedo ver si funciona esto? Hay un link para ver los registros del feedback?

[2017-10-12 14:24] rodrigomonelos commented on #59
@gmarcos87 la probé, anda piola.
Una pregunta para terminar: cómo puedo ver el feedback que guarda?

Comentarios generales de las pruebas:
- La primera vez se me rompió un poco la pantalla desde el celular cuando elegí agregar comentarios, pero después no volvió a pasar (pantalla adjunta).
- Pienso que preguntar todas las veces puede ser mucho, medio rompe bolas, pero por ahora me parece que va, m

[2017-10-12 22:10] gmarcos87 commented on #88
Pasos para testear:
- Abrir la aplicación y obtener el numero de teléfono
- Cerrarla
- Ir a https://webp-test0001.surge.sh
- Completar TO con el número obtenido anteriormente, el FROM el numero que simula estar llamando y en en secretKey la clave secreta de nuestro servicio en el backend (enviada por privado)
- Debe aparecer la notificación en el teléfono o en el navegador

Otra forma de testear e

[2017-10-12 22:14] #88 closed

[2017-10-13 10:56] gmarcos87 commented on #59
Tengo que ver el problema asociado al alto de la pantalla cuando aparece el teclado, el mismo error aparece en share.
Por otro lado, la encuesta aparece solo si la llamada conectó con el server (para no mostrar con cada presión del botón call) y se puede pasar sin responder si presionas la X en la parte superior derecha.,

[2017-10-13 11:01] gmarcos87 commented on #93
Si limpia el caché no hay forma de recordar nada, incluso pierde control sobre el número que tenía asignado. Es distinto cuando solo se borra el acceso al escritorio ya que el caché sigue funcionando en el navegador, por eso recuerda la selección (nunca la borró).
PWA son solo un wrapper de la vista del navegador, siempre el navegador es el origen y destino de los datos.

[2017-10-13 14:34] gmarcos87 commented on #96
Esto ya es posible en el navegador tipo desktop, sin embargo hay una nueva limitación en PWA (una más...) que genera el siguiente error:
```DOMException: play() can only be initiated by a user gesture.```
Investigando en Internet encontré que chrome en mobile evita la reproducción de audios si no es fruto de una acción directa del usuario (un click por ejemplo).
Entonces cuando queremos reproducir

[2017-10-13 14:45] rodrigomonelos commented on #59
Piola lo de la flecha, no lo había visto.
En esta nueva prueba volvi a ver lo de la pantalla que se rompe. Igual no es grave, se usa.
Aprobado Gutierrez!

[2017-10-13 14:45] #59 closed

[2017-10-13 15:56] #89 closed

[2017-10-13 16:11] #97 closed

[2017-10-13 16:43] rodrigomonelos commented on #88
We observed that, if we try to receive a call after going into the site and accepting to receive notifications but **without having added the icon to the start screen**, when trying to call, the caller just receives a "we can not complete your call at this moment" message. I think this behaviour is interesting to be observed but not critical, since that scenario isn't what we expect, but users to

[2017-10-13 16:45] #66 closed

[2017-10-13 16:46] rodrigomonelos opened #99 "Call from GSM in PL to App"

[2017-10-13 16:56] rodrigomonelos commented on #68
@gmarcos87 Cómo puedo ver si funciona esto? Hay un link para ver los registros del feedback?

[2017-10-13 16:56] rodrigomonelos commented on #67
@gmarcos87 yo esta la veo funcionar. Vos ves que le falta algo?

[2017-10-16 12:48] #99 closed

[2017-10-16 13:13] rodrigomonelos commented on #96
It is working for me now @gmarcos87 when I receive a call and the app is open in background. You said that the sound I hear is from the notification, and I do not see a problem there. Is there a problem? For me as a user this that is happening is already fine.

[2017-10-17 16:13] rodrigomonelos opened #100 "Ask again about accepting notification when has no answered"
1) Open the app by first time. Should see the request for permission to show notifications
2) Do not answer by closing the app
3) Open the app again
Expected result: Should see the request for permission to show notifications

[2017-10-17 16:53] #69 closed

[2017-10-17 16:53] #67 closed

[2017-10-18 15:39] rodrigomonelos opened #102 "[bug] App to GSM in PL calls but GSM doesn't ring"
- [X] Front end changes

- [x] Back end changes

**Description:** Since about last week Friday or whenever we final got calls from GSM to App to work on SayCel Version there has been a bug not allowing calls to complete to GSM from app
**Expected result:** I Dial 43333 normally not from directory, expect to hear audio greeting and then call to connect
**Obtained result:** I dial 43333 in normal ta

[2017-10-18 16:15] rodrigomonelos opened #103 "Change SayCel Icon"
See slide #9 on https://docs.google.com/presentation/d/1w3Ioph9ILnE8ENpgPu7mJSooMA0KljZGofhbGab5r8A/edit#slide=id.g268e53ce06_0_0

Icon on the left is for the dock on the phone
Logo on the right is for splash screen

[2017-10-18 16:15] gmarcos87 commented on #102
I get this log:
[code]
Perhaps some of our specialists in sip or kamailio can understand better what is happening. I know it has to do with the particular configuration of saycel.

[2017-10-18 17:07] rodrigomonelos opened #104 ""Add to desktop" note on smartphone"
Since the first time a user follows the link to the app using Chrome on a smartphone, a note pops up explaining how to add the icon to desktop in case that this option haven't appeared automatically. This note is, obviously, not showed when using the app from the icon.

The note says "Es posible que su navegador no le ofrezca automáticamente la opción para agregar un acceso directo a esta aplicaci

[2017-10-19 00:19] rodrigomonelos commented on #95
Tested ok for accepting the incoming call

[2017-10-19 00:20] rodrigomonelos commented on #94
Answered ok with the phone unlocked
Did not opened the app after answering with the phone locked

[2017-10-19 14:11] #15 closed

[2017-10-19 14:16] rodrigomonelos commented on #51
Moved to the Product Backlog for better priorization
https://docs.google.com/document/d/1BFrZphkxLSyHxd_TajU3FDdh2doYOLs5CRZD9S6QT2c/edit#

[2017-10-19 14:16] #51 closed

[2017-10-19 14:19] rodrigomonelos commented on #64
I cann't reproduce it. Can you report it using the template?
https://drive.google.com/open?id=1DmzAs5Xa6hxB9mSSpxTrJeqmE3bgBD0_1U8rdknqPhc

[2017-10-19 14:19] #64 closed

[2017-10-19 15:48] rodrigomonelos opened #105 "Screens in white after deleting contact on Rhizomática version"
Description: after deleting a contact (on the Rhizomática version of the app) the screen goes white on both tabs (Directory and Call). App has to be closed and opened again.
Expected result: see the directory tab with its content (at least "My number")
Obtained result: screen goes white. Call tab is also white when selected (after switching tabs a couple of times)
Steps to reproduce:

- Create a c

[2017-10-19 15:52] rodrigomonelos commented on #105
![screenshot_20171019-114851](https://user-images.githubusercontent.com/26839006/31780493-e47d339a-b4c3-11e7-95bd-a3938ccfd797.png)
![screenshot_20171019-114908](https://user-images.githubusercontent.com/26839006/31780497-e6100e12-b4c3-11e7-8460-10464d658918.png)
![screenshot_20171019-114842](https://user-images.githubusercontent.com/26839006/31780500-e7561b04-b4c3-11e7-96f4-b118ac0ac899.png)

[2017-10-19 21:10] rodrigomonelos commented on #102
Agreed that @gmarcos87 will change code on the app so calls not go through CallWithUs anymore (will be CallWithSomeoneElse now)

[2017-10-19 22:18] rodrigomonelos opened #106 "Audio not going through on App to App calls"
**Description:** calling app to app (both from laptop and from celphone) audio doesn't go through in some ofcases. I could hear myself calling from my app to my laptop and from rhizo to saycel app on the same phone, but not with Edwin and he cann't with me.
**Expected result:** audio going through
**Obtained result:** audio not going through
Steps to reproduce:

- Call another app (Edwin on 999100

[2017-10-20 14:57] rodrigomonelos commented on #73
Thanks Nico. Taken to the Product Baklog for priorization

[2017-10-20 14:57] #73 closed

[2017-10-20 14:59] rodrigomonelos commented on #75
Might get back to this later

[2017-10-20 14:59] #75 closed

[2017-10-20 15:02] rodrigomonelos commented on #78
Thanks Stef. Taken to the Product Backlog for priorization
https://docs.google.com/document/d/1BFrZphkxLSyHxd_TajU3FDdh2doYOLs5CRZD9S6QT2c/edit#

[2017-10-20 15:02] #78 closed

[2017-10-20 15:05] rodrigomonelos commented on #79
Done!

[2017-10-20 15:05] #79 closed

[2017-10-20 15:11] rodrigomonelos commented on #80
Thanks Stef for the feedback. It is already on the Product Backlog for priorization.

[2017-10-20 15:11] #80 closed

[2017-10-20 15:17] rodrigomonelos opened #107 "Simple screen that shows that the call is connected"
Once the call is established, replace the current "calling <number>" for "call established with <number>"

Related with https://github.com/saycel/webph.one/issues/81

[2017-10-20 15:19] rodrigomonelos commented on #81
Thanks Stef. It is prioritized and added to the kanban on https://github.com/saycel/webph.one/issues/107. Will close this one to have only one issue to follow.

[2017-10-20 15:19] #81 closed

[2017-10-20 15:47] gmarcos87 commented on #102
What do I do with this then? Apparently it was a callwithus problem. As soon as the changes are ready in the backend to remove that gatewey can be done quickly. I suppose then the numbers are going to have to be complete (eleven digits) and not only the 5 that saycel uses now.

[2017-10-20 15:49] gmarcos87 commented on #94
Phone blocked -> answer = button does not open
or
Phone blocked -> unlock -> answer = button does not open?

The push notifications were not designed for so much, they will not be camapces to bring in front the app with the phone blocked. That is a non-PWA native function. If what happened is second, it may be a bug.

[2017-10-20 15:58] gmarcos87 commented on #106
Maybe we would need a "Check background" label. The app (the frontend) has a very basic interaction with SIP, I think it does not even establish a p2p connection (which could mean that the source of the problem may be in the frontend). If it worked in a situation and not in others maybe there to check what happened behind the server (codecs, timeouts, etc)

[2017-10-20 16:51] rodrigomonelos commented on #102
Go on, Edwin asked to make the change. Please share a message in the group
after you changed it including your comments on what might be needed to
change on the rest of the system in case they are useful for Dhruv, Edwin,
Thomas or who will be in charge of making the changes.
Thanks

2017-10-20 11:47 GMT-04:00 Marcos Gutierrez <notifications@github.com>:

--

Ing. Rodrigo Monelos
[image: https://]

[2017-10-20 16:53] rodrigomonelos commented on #94
Not sure. I will ask my friend and try again paying atenttion to that.
Could you see the second scenario working fine?

2017-10-20 11:49 GMT-04:00 Marcos Gutierrez <notifications@github.com>:

--

Ing. Rodrigo Monelos
[image: https://]about.me/rodrigo.monelos
<https://about.me/rodrigo.monelos?promo=email_sig>

[2017-10-20 17:04] rodrigomonelos commented on #94
I'd say that if you tested fine in your environment, move it to done, and
I'll test it then

2017-10-20 12:53 GMT-04:00 Rodrigo Monelos <rmonelos@gmail.com>:

--

Ing. Rodrigo Monelos
[image: https://]about.me/rodrigo.monelos
<https://about.me/rodrigo.monelos?promo=email_sig>

[2017-10-20 18:38] gmarcos87 commented on #79
It is still missing to implement the delete key and the enter key to dial.

[2017-10-20 19:06] rodrigomonelos commented on #79
Ok, already taken into the backlog

[2017-10-20 19:29] gmarcos87 commented on #91
Bloquear es para que no pregunte nuevamente, la cruz simplemente ignora la petición hasta la próxima ves que sea solicitada. No podemos saber por cual de las dos opciones optó el usuario, simplemente que no tenemos permisos para mostrar push notifications. Toda la GUI está en ingles, no es raro que el mensaje esté en castellano?

[2017-10-20 19:46] rodrigomonelos commented on #91
No le podemos bloquear el bloquear?
Ok, entonces le podemos decir que si apretó la cruz, cierre la app y vuelva a abrirla, y que ahi acepte el mensaje. Y para el otro caso qué consejo tenemos, dr?
Definamos y traduzco.

También estoy pensando que cuando abre la app por primera vez desde el acceso directo, ahí le podŕiamos agregar un mensaje que le avise que le va a pedir permiso de micrófono y de

[2017-10-20 20:04] gmarcos87 commented on #91
Va a depender de mil factores, lo mejor sería un link a una web con la ayuda ahí redactada.  Es básicamente ir al panel de permisos del navegador (que varía según cual es, que versión y para que dispositivo) y quitar el bloqueo. En el caso de chrome de escritorio es haciendo clic al icono previo a la url y seleccionado "Notificaciones -> Preguntar (predeterminado)" https://support.google.com/chrom

[2017-10-20 20:05] rodrigomonelos commented on #94
Lo probamos de vuelta, desbloqueando el teléfono primero y después apretando contestar, y no abre la app. Queda ahí la notificación como si no se apretara el botón. Cómo podemos hacer para debuggear?

[2017-10-20 20:49] gmarcos87 commented on #103
I can not do that, I can only change the icon amd favicon. Spash is managed by google chrome and built according to the data it extracts from the manifest. If it's okay with you, I'll only do it with the icon change

[2017-10-20 20:56] rodrigomonelos commented on #91
Ok, pongamos el mensaje hasta ahí con una url de prueba para ver cómo funciona hacer click ahí. Cuando esté la web definida ponemos la url posta.

[2017-10-20 20:58] rodrigomonelos commented on #103
Ok with changing the icon. Check this Edwin @saycel

[2017-10-23 12:31] rodrigomonelos opened #109 "Remove "share through SMS" option"
It was on "done" but I steel see it on HEAD - cb6b2e3

[2017-10-23 12:38] rodrigomonelos commented on #91
Testeado ok el funcionamiento. Me hubiera gustado poder probar qué pasa si hay un link, ver cómo funciona hacer click ahí. No lo agregaste por algo @gmarcos87 ?

[2017-10-23 12:51] rodrigomonelos commented on #68
No entendí por qué lo cerraste

[2017-10-23 12:54] #93 closed

[2017-10-23 12:58] rodrigomonelos commented on #90
This scenario has no sense since when user denies the permision to show notifications, then can not be shown any more. In its place, there is a note for users that denied the permision #91

[2017-10-23 16:33] gmarcos87 commented on #109
I forgot to push that commit. It will be removed at the next push.

[2017-10-23 17:36] gmarcos87 commented on #68
It's not this?
![captura de pantalla de 2017-10-23 14-24-15](https://user-images.githubusercontent.com/10773838/31903549-cb74ba7e-b7fe-11e7-83f7-e4c208ada3a3.png)

[2017-10-23 18:55] rodrigomonelos commented on #109
Ok, you move it to done and I check it. Right?

El 23 oct. 2017 12:33 p. m., "Marcos Gutierrez" <notifications@github.com>
escribió:

[2017-10-23 18:56] rodrigomonelos commented on #68
No, this item was referring to the feedback given from the share tab

El 23 oct. 2017 1:36 p. m., "Marcos Gutierrez" <notifications@github.com>
escribió:

[2017-10-24 17:56] rodrigomonelos commented on #94
Tested on my phone now and it works fine. Both tapping twice on the notification (while the phone still locked) it opened the app and showed the dark screen with the red and green button for incoming call. Also tried unlocking the phone and answering from the notification (in this case it was the notification with the two buttons that comes from the top of the screen). I say we can consider this o

[2017-10-26 14:12] rodrigomonelos opened #111 "Send a message to GSM"
**US:** As an app user I need to send a message to someone in a community with a GSM phone
**Acceptance criteria**

- [x] Just message exchange, no matter UX nor design

- [ ] The same message is received on GSM

[2017-10-26 14:18] rodrigomonelos opened #112 "Receive a message from GSM"
**Acceptance criteria**

- [x] Just message exchange, no matter UX nor design

- [ ] Message is received on App

[2017-10-27 23:09] rodrigomonelos commented on #95
Main behaviour is correct.
When rejecting the call it looks ok on the receivers side, but the reject doesn't get to the caller. I took this to the product backlog as a minor fix.
One of the tests, when receiving the call with the phone locked and trying to answer, the notification buttons didn't work. What happened was that it ringed, I saw the first notification (the one without buttons), clicked

[2017-10-27 23:09] #95 closed

[2017-10-27 23:22] rodrigomonelos commented on #94
Features could be used.
Anyway, it happened twice at the beggining, with the phone locked and the app in back, that it didn't ring nor showed a notification. This was after accepting a notification that remained there from a previous call. Then closed and opened the app and it worked fine. After another couple of tests, it happened once again that the notification didn't arrived. What do you think

[2017-10-28 00:16] Tcat1 opened #113 "TROUBLESHOOTING with SayCel App"
Trouble Shooting For SayCel App.
ISSUE Calls are not connecting.
1st Check if local internet backhaul is up, working and connected to Network.
Ways to check backhaul,
Log into bsc and ping saycel.com, if you see no bytes received Backhaul is down
Make an International Call with your local Network Chip, if call cannot connect backhaul is down
2nd If, Internet Backhaul is working check your VOIP acc

[2017-10-30 11:04] #103 closed

[2017-10-30 11:04] #109 closed

[2017-10-30 11:34] rodrigomonelos commented on #104
@gmarcos87 I got the note when using the Rhizo app, not from the browser. Not prioritary

[2017-10-30 11:40] rodrigomonelos opened #115 "Receive a message from App to App"
Just message exchange, no matter UX nor design
Message is received on App

[2017-10-30 11:41] rodrigomonelos opened #116 "See one conversation"
- [x] Messages are shown in descendent order by the hour in which they were sent or received (lo que sea más fácil, después vemos).
- [x] Area in the bottom to start writing a message. “Message” word in gray letters on it.
- [x] Only “send” button in gray on the right of the text area.
- [x] Messages are on the right or left depending if I or the other person sent it
- [x] Date and time shown is l

[2017-11-01 18:50] gmarcos87 commented on #106
Close?

[2017-11-01 18:51] #107 closed

[2017-11-01 18:51] gmarcos87 commented on #102
Close?

[2017-11-01 18:59] rodrigomonelos commented on #106
Ok, I close it

[2017-11-01 18:59] #106 closed

[2017-11-01 18:59] #102 closed

[2017-11-01 23:45] sanchi opened #117 "refused call stays with "Ringing" at the caller (while playing sorry message)"
Make sure you add a Descriptive title: use keywords so others can find your bug (avoiding duplicates)

# Steps to trigger the problem

1) Call from Desktop Chrome to Android Chrome App
2) get push notification (yay!), but click on "Hangup"

# What happens when you follow the steps

3) Caller Chrome gets audio message played, but stays with Ringing:

![rejected_call_stays_open](https://user-images.

[2017-11-02 17:18] gmarcos87 commented on #113
Sounds good, but all these steps are only executable if you are within the GSM network of Saycel or if you have credentials to access services and servers. There is a way to make these checks automatically and accessible via the web. Like https://status.github.com/messages

If you like this [this link](https://hackmd.io/AwIwTAnAHAbALHAtAVgOw2IuAzAJgY0RDwkVxFXzCnxtxgEYg===) we can edit this and the

[2017-11-03 12:42] rodrigomonelos opened #119 "Calls not received in App closed when calling from GSM in PL"

[2017-11-03 13:02] gmarcos87 commented on #105
Close?

[2017-11-03 13:03] #68 closed

[2017-11-03 13:03] #100 closed

[2017-11-03 13:14] rodrigomonelos commented on #105
Diría que todos los que pasé a "Tested and passed" y no tienen comentarios abiertos, vayan a close directamente.
También me estoy dando cuenta de que lo podría haber hecho yo :-p

[2017-11-03 13:14] #105 closed

[2017-11-03 13:39] #91 closed

[2017-11-03 13:44] gmarcos87 commented on #90
Only for future references: After four ignored requests, Chrome marks the notifications as blocked and does not allow us to request them again. The app will still show the popup with the information for the user but we can not do more than that.

[2017-11-03 13:44] #90 closed

[2017-11-06 00:32] rodrigomonelos commented on #113
I guess that for the moment (until we work on the suggestion below) we should add a comment explaining that pre-conditions, or who is the person/role that performs this steps. Don't we?

This would be an improvement proposal, right? Creating a tool that gives this info automatically?

I like very much that HackMD tool

Do you see yourself @gmarcos87 adding below your steps for troublreshooting in

[2017-11-06 14:16] #104 closed

[2017-11-06 14:17] #94 closed

[2017-11-06 18:43] gmarcos87 commented on #113
Thomas does not report any particular case, just how to analyze the possible connection problems of the SayCel infrastructure. It is more of a way to rule out problems that are not the application itself and to avoid reporting false errors.

[2017-11-06 20:18] rodrigomonelos commented on #113
I updated the style on my previous comment, I guess that most of my opinions where lost in between the qoutes.
Lo que te preguntaba en la última frase @gmarcos87 era si vos tenés pasos para agregar, suponiendo la siytuación de que Thomas ejecuta los pasos que describió y no encuentra el problema.

[2017-11-06 21:11] gmarcos87 commented on #113
Me parece que está bien para descartar problemas propios de la configuración de SayCel. No creo necesario agregar nada extra.

[2017-11-10 11:25] rodrigomonelos commented on #119
This one is in progress, waiting for @Tcat1 to make the tests, isn't it?

[2017-11-10 11:28] rodrigomonelos opened #121 "Write a message"
**User Story:** as an app user I need to write something to send it to someone in a community

**Acceptance criteria:**

- [x]  Text box expands from 1 up to 4 lines
- [x] Scroll appears when text is more than 4 lines high and disappears when it is less
- [x] Option to send
- [x] Send option gets colored and enables when there is some text, and gets gray and disabled when there is no text.
- [x] “

[2017-11-10 22:50] rodrigomonelos commented on #119
Bloqued until backhaul is repaired after lightning strike

[2017-11-12 22:44] rodrigomonelos opened #122 "Needed to call to start receiving messages"
Al principio, una vez que había entrado con la computadora y el celular por primera vez, los mensajes no se mandaban/recibían. Probé llamarme mutuamente (no se si fue necesario llamarme en las dos direcciones, no probé entre medio) para que se empiecen a mandar los mensajes.

[2017-11-12 22:46] #115 closed, assigned to nobody

[2017-11-12 22:47] rodrigomonelos opened #123 "Button to chat doesn't work in vertical"
Con el celular en vertical, cuando selecciono la opción para chatear, no abre el chat. Lo puse horizontal y ahí sí, así que supongo que puede haber un algo con la zona del botón.

[2017-11-12 22:50] rodrigomonelos commented on #121
Tested ok for:

- Text box expands from 1 up to 4 lines
- Option to send
- “Message” grey text goes away when there are other characters, and appears back when there is no text on the box.

[2017-11-12 23:39] rodrigomonelos commented on #116
Tested ok for

- Messages are shown in descendent order by the hour in which they were sent or received
- Area in the bottom to start writing a message. “Message” word in gray letters on it.
- Only “send” button in gray on the right of the text area.
- Messages are on the right or left depending if I or the other person sent it

Feedback for "Each message shows the hour and minutes when was ¿sent?

[2017-11-13 00:24] Tcat1 commented on #119
So we Have now Got Backhaul Working. I have made initial test and GSM to App is not working properly. I will be posting here a link to video and a Report For Everyone over the next 24hrs...

[2017-11-13 10:21] rodrigomonelos commented on #112
Did you tell @sanchi how far did you get and what we need now?

[2017-11-13 10:22] rodrigomonelos commented on #111
Did you tell @sanchi how far did you get and what we need now?

[2017-11-13 15:42] Tcat1 commented on #119
Bug report
Structure template
Title: Dialing From GSM Pearl Cel SIM to App
Description: since some time ago (not always), when trying to call app from a GSM Pearl Cel SIM the App is not receiving call in proper manner.
Expected result: Dial App from a GSM Pearl Cel Dumb Phone and App Rings in backgorund or allows option to pick up call
Obtained result: When calling App from GSM Pearl Cel Dumb Phon

[2017-11-15 11:49] gmarcos87 commented on #119
Call not play sound: Chrome 61 change the policy about audio player via Javascirpt. See more in https://developers.google.com/web/updates/2017/09/autoplay-policy-changes, they are not yet a workarround for this. We can no longer ring the pwa phone at our wish.
Not from the web, but if when the app is installed. Can you perform the tests with this modality? Apparently chrome is handling security sc

[2017-11-15 17:08] rodrigomonelos commented on #119
Ok, so if I understand, @Tcat1 should make the test but with the app previously added to home screen, is that right @gmarcos87?

[2017-11-16 09:53] gmarcos87 commented on #119
Yes

El 15 nov. 2017 2:08 p. m., "rodrigomonelos" <notifications@github.com>
escribió:

Ok, so if I understand, @Tcat1 <https://github.com/tcat1> should make the
test but with the app previously added to home screen, is that right
@gmarcos87 <https://github.com/gmarcos87>?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/say

[2017-11-16 13:17] Tcat1 commented on #119
Yes I did make test with app downloaded to home screen but same results

On Nov 16, 2017 3:53 AM, "Marcos Gutierrez" <notifications@github.com>
wrote:

[2017-11-16 14:59] rodrigomonelos opened #124 "Receive a message on the open conversation"
- [x] Add message to the conversation. The conversation is updated.
- [x]  Last message appears at the bottom.
- [x]  All the conversation moves up to make place.
- [x]  Only for this version: Scroll always to the bottom of the conversation to show the new message. Future versions will keep the scroll and show an icon of new messages.

[2017-11-16 15:16] rodrigomonelos opened #125 "Send a message (to any destiny)"
- [ ] See the conversation updated with the sent message.
- [ ] Scroll up to the end of the conversation
- [ ] Keep the keyboard open

[2017-11-16 18:41] gmarcos87 commented on #116
" First time the conversation is opened within the app, last part of the conversation is showed"
If this means persisting the messages when closing and opening the app we should move it to a specific user-story.

[2017-11-16 18:51] gmarcos87 commented on #125
How is this different from what is already there? What does it mean to any destination?
I also do not think I can force the keyboard to stay open.

[2017-11-16 18:54] gmarcos87 commented on #122
Es muy raro este comportamiento, no logro reproducirlo. Podes probar si te pasa nuevamente?

[2017-11-16 19:33] rodrigomonelos commented on #122
Me pasó lo mismo con Edwin el lunes cuando le mostré lo que habías
avanzado, y lo resolvimos de la misma manera, nos llamamos y después anduvo.
Decís que entraste con dispositivos que nunca habían usado la app con chat
y que se pudieron escribir directamente?

2017-11-16 14:54 GMT-04:00 Marcos Gutierrez <notifications@github.com>:

[2017-11-16 19:39] rodrigomonelos opened #126 "Keep conversation history"
- [ ] When a conversation is opened, last part of the conversation is showed.
- [ ] Conversations are stored. All the history of the conversatio can be seen if the user scrolls

// me surge la pregunta de si vamos a guardar en cada teléfono todas sus conversaciones y lo que eso implica (perderlas si cambiás de dispositivo, por ejemplo). Me parece bien para avanzar en una primera instancia, pero pi

[2017-11-16 19:45] rodrigomonelos commented on #116
Agree with moving the persistence to another user story. I splitted it into https://github.com/saycel/webph.one/issues/126

- [ ] Only if it is very simple, can you put the time on the same line than the text of the message, so it doesn't use another line? It shuld only create another line when the text + the time is longer than the line. If it is tricky we move left this for the future, you decid

[2017-11-16 20:01] gmarcos87 commented on #126
WhatsApp por ejemplo "no guarda" las conversaciones, es un asunto de
privacidad local vs cloud-messaging. Esa decisión es más de carácter
político que técnico

El 16 nov. 2017 4:40 p. m., "rodrigomonelos" <notifications@github.com>
escribió:

   - When a conversation is opened, last part of the conversation is showed.
   - Conversations are stored. All the history of the conversatio can be
   seen

[2017-11-16 20:11] rodrigomonelos commented on #123
I'm experiencing that it works only if I'm veeeery precise with my finger. I think we need to make the area bigger

[2017-11-16 20:55] rodrigomonelos commented on #121
Tested ok for

- Send option gets colored and enables when there is some text, and gets gray and disabled when there is no text.
- Keep seing the conversation in the upper part of the screen.
- While seeing one conversation out of write mode, when tapping on the text area to start writing, the keyboard appears and the existing conversation moves upside, meaning that what was being seen is the same

[2017-11-16 20:59] rodrigomonelos commented on #116
Tested ok "Date is dividing messages when there is a change on the date".

I had some issues when testing.
- [x] "Messages are shown in descendent order by the hour in which they were sent or received" got broken. I add it here with so you check when it is fixed
![captura de pantalla de 2017-11-16 16-07-33](https://user-images.githubusercontent.com/26839006/32915500-7401ff5a-caef-11e7-8a94-105e561

[2017-11-16 21:19] rodrigomonelos commented on #125
I agree with you that this was almost already working, but we didn't have any backlog item defining this behaviour.

- As we talked over Telegram, sometimes messages are not going out, nor being showed. Sometimes they are showed after a while. The first acceptance criteria of this issue defines this behaviour. I added "just after tapping on the send button" to consider the delay.

- I added an acc

[2017-11-17 17:57] rodrigomonelos opened #127 "Receive offline messages"

[2017-11-17 17:58] rodrigomonelos opened #128 "Receive notification for new message"

[2017-11-17 18:56] sanchi commented on #127
When a text is sent for a user that is not registered (SIP registered), that message is stored in the DB by kamailio (table 'silo'). Once the user is coming online (sends SIP REGISTER), the server looks up all messages from that user in the DB and tries to send them to the user.

The messages come with a prefix "[Offline message - Date ]". It looks like they are not displayed by the App for whatev

[2017-11-17 19:21] sanchi commented on #128
Currently, a MESSAGE coming in for an offline user sends the same call-incoming push notification as a Call. This should probably be changed so that the app notifications can be specific (e.g. directly show the contents of the Text).

[2017-11-17 19:33] sanchi commented on #111
# for Rhizomatica

The SIP MESSAGE should go to sip:number@sip.rhizomatica.org. This can be both R-URI and To.  So the message would look like:
MESSAGE sip:68068120202@sip.rhizomatica.org SIP/2.0
Via:...
To: sip:68068120202@sip.rhizomatica.org
From: sip:99920012345@rhizortc.specialstories.org
...

## for Saycel
the outbound=pearllagoon should be added to the URI, so that the call is sent to the BS

[2017-11-17 19:50] sanchi commented on #111
I just tested registering with that test account to sip.rhizomatica.org, and I got the SIP MESSAGE that I sent through or servers through. So I assume that it will also be received if that number is a proper GSM phone (I did see that working a while ago on a GSM phone)

[2017-11-17 20:19] sanchi commented on #112
I have sent a test SIP account to @gmarcos87 so simulate 'real' GSM SMS with a SIP client. It should work with the 999200 prefix from Rhizomatica right now.

[2017-11-17 20:30] sanchi opened #129 "App responds with "480 Temporarily unavailable" once call is accepted"
Sometimes the App goes into a funny state where an incoming call is shown (Accept + Reject buttons), the App responds normally with a "180 Ringing" message, but once the Accept button is pressed, the App returns a "480 Temporarily Unavailable" to the server.

Here's a log file from the server; it clearly shows that the 480 comes from the App.

[kamailio_log_2017-11-17-19_12_04.txt](https://github.

[2017-11-17 20:32] sanchi commented on #113
not sure this is the right place (should it go into the repository itself as md?), but I'm for now attaching a bit about troubleshooting the WebRTC gateway server part:
[debugging_server.txt](https://github.com/saycel/webph.one/files/1483749/debugging_server.txt)

[2017-11-17 21:30] rodrigomonelos commented on #111
Did you already asked Peter or K for a local contact?

2017-11-17 15:50 GMT-04:00 Stefan Sayer <notifications@github.com>:

[2017-11-18 14:36] gmarcos87 commented on #116
Hola @rodrigomonelos podes darme un poco mas de contexto sobre como obtuviste los resultados desordenados? No logro replicar el error para identificar de donde viene.

[2017-11-18 15:37] gmarcos87 commented on #128
HI @sanchi, Can you change the payload you send?:
```'payload': { 'action': 'sms-incoming', 'from': '99910012345', 'content': 'hello world!' }```

[2017-11-18 15:42] gmarcos87 commented on #127
At this moment I am filtering them. But they arrive. Do you have any regExp that allows me to separate the data from the messages? I am not very good with regular expressions but I know that in this step it would be useful.

[2017-11-18 16:09] rodrigomonelos commented on #116
Te reporto dos

- [ ] **Título:** los mensajes no se visualizan en el orden en el que se enviaron
**Descripción:** los mensajes deberían verse desde arriba hacia abajo, del más viejo al más nuevo. Sucede lo contrario.
**Resultado esperado:** el mensaje 1.1 está primero, el mensaje 2.2 está a continuación.
**Resultado obtenido:** el orden de los mensajes es el inverso (más arriba el 2.1, abajo el 1

[2017-11-21 00:06] sanchi commented on #128
ok, I have changed it

[2017-11-21 00:10] sanchi commented on #127
it seems to me that text "[Offline message - <date> ]" is hardcoded, but i actually do have to look into the code to verify that.

[2017-11-21 13:35] rodrigomonelos commented on #124
Tested ok for all

[2017-11-21 13:35] #124 closed, assigned to nobody

[2017-11-21 13:38] rodrigomonelos opened #130 ""Enter" appears like a space"
When sending a message that contains an "enter" or "line jump", the message is received changing the "enter" for a space.
Example
Message sent:
Hola
Vamos a pasear?
Message received:
Hola Vamos a pasear?

[2017-11-21 13:44] rodrigomonelos commented on #127
Worked fine from laptop to app but failed from app to laptop. See screenshot
App version: send-sms - 4df84ff

By the way, which is the link to see the commit history for the sms-app?

![image](https://user-images.githubusercontent.com/26839006/33075563-54c4e634-cea0-11e7-96ff-1f6bb9631683.png)

[2017-11-21 14:00] rodrigomonelos commented on #116
Sigue pasando que "los mensajes no se visualizan en el orden en el que se enviaron".
Los mensajes que son una sola letra (D, A) y el que dice "probando mensajes offline" son de pruebas anteriores. Luego se enviaron los mensajes que empiezan con "Mensaje". El orden se ve en los números (1.1, 1.2, 1.3, 1.4). Los últimos dos números son los minutos del momento en que fueron enviados (:47, :49).
Como

[2017-11-21 14:10] gmarcos87 commented on #127
El error que estás recibiendo es indistinto de si es en mobile o escritorio, se debe a que cuando cerras una app el backend tarda un minuto en ponerte como offline (ya habíamos observado ese comportamiento en las llamadas). Seguramente para probar cerraste la ventana del navegador e inmediatamente trataste de enviar un mensaje desde el celular. Si esperas uno o dos minutos antes de enviar vas a no

[2017-11-21 14:48] rodrigomonelos commented on #111
@sanchi so we need someone on the Rhizomática network to check if they are receiving this messages, is that right?

[2017-11-21 15:10] rodrigomonelos opened #131 "Number is presented as "busy" up to 1' after call"
After finishing a call between A and B, if I call again to any of those during the next ~1', I get the "busy" message.
According to @gmarcos87 the backend is having that delay in registering that the user is offline, and it is causing also a SIP Failure Code when trying to send a message to a number that has just closed his session.
Can you check this @sanchi? Maybe @gmarcos87 can add more details

[2017-11-21 15:19] rodrigomonelos commented on #119
@gmarcos87 Can yoy give priority to this issue? This is now the only relevant isue we see towards the  release. Do you need help from someone to work on it?

[2017-11-21 15:30] rodrigomonelos commented on #129
Can this be explored without much effort @gmarcos87 so we understand what it takes to fix it?

[2017-11-21 15:49] rodrigomonelos opened #132 "Have a development server"
I'm creating this issue to follow up and organize the conversation about the development server that @dmehrotra and Jonathan started to create. We thought that maybe there is some help needed from @sanchi here

[2017-11-21 16:10] rodrigomonelos commented on #131
At the end of this video recorded by @tcat1 you can see the described behaviour: https://www.youtube.com/watch?v=ZA5ZDcRDcB0

[2017-11-21 16:31] rodrigomonelos commented on #131
"When a user closes the app a minute passes until it is recognized as not registered by the backend. In that minute there are these errors in the calls and even in the sms."

[2017-11-21 16:34] rodrigomonelos opened #133 "Show options for answering the call"
App doesn't show the answer/reject opitons.
Originally reported on #119
https://www.youtube.com/watch?v=ZA5ZDcRDcB0

[2017-11-21 16:35] rodrigomonelos commented on #119
Ok so if I'm getting it right, we have here two issues. One is related with the backend registering that the user is offline and the other is related with the app showing the options to anser.
I suggest we to close the current issue and follow up on this two new ones

- Number is presented as "busy" up to 1' after call #131
- Show options for answering the call #133

Do you agree @gmarcos87 @Tcat1

[2017-11-21 16:38] #119 closed, assigned to gmarcos87

[2017-11-21 19:02] rodrigomonelos commented on #127
Testeado ok. El errore reportado está en #131

[2017-11-21 19:02] #127 closed, assigned to gmarcos87

[2017-11-21 21:47] sanchi commented on #133
This one is when the app is open. The push notification has arrived, the phone rings, it sends back 100 Trying and 180 Ringing.
The answer/reject options only appear when the user clicks e.g. on 'Directory' or 'Share' or somewhere in the screen. It doesn't pop up by itself.

[2017-11-21 21:50] sanchi opened #134 "it's possible to "Call" an empty number"
with the dial field empty, its possible to click Call, it will establish a call to pearlcel and just hang in the pearlcel welcome loop for a while.

[2017-11-21 22:28] sanchi commented on #131
I am trying to reproduce, but see only #129 and #133

[2017-11-21 22:36] sanchi opened #135 "Rejecting a call results in "Sorry, we could not complete... " because App returns 487"
"487 Request Terminated" is the wrong code to reject a call - this will be sent when receiving CANCEL (when the caller cancels the call). "486 Rejected" or "603 Decline" is the proper one, and it should be interpreted by the App properly on the caller side.

Possibly destroying some JsSip call object on the called side does make JsSip send a 487?

[2017-11-21 22:40] sanchi commented on #132
have you guys changed the app on saycel.webph.one to use the allocatenumber.py with the proper prefix? Also I guess that for outgoing calls (to APP) the BSC needs to route calls to the dev prefix to saycel.webph.one.

[2017-11-21 22:47] sanchi commented on #131
sorry, really can't reproduce. Maybe it has to do with the way my Android mobile handles the notification?

Please do he following:
ssh to rhizortc, I have let kamailio debug log on for now.
run this:
``` tail -f /var/log/daemon.log > kamailio_log_`date +"%F-%H_%M_%S"`.txt ```
and make two such consecutive calls. Attach the last kamailio_log_xxyyzz.txt to this issue for me to analyze. thanks!

[2017-11-21 23:09] sanchi commented on #131
having said that, I can imagine that within that minute, kamailio would try to send over a non-exising websocket connection to the app, and when that fails, it would reply with the error upstream. I have changed the kamailio config to also store that transaction and send a push notification in that case, but I can't test whether that actually works as I can't reproduce with my phone. So please, if

[2017-11-21 23:13] sanchi opened #136 "feedback window stays forever, also blocking view of incoming calls"
it would be nice to have the feedback window go away after some seconds (e.g. 30) to not block the app window when a new call comes in.

[2017-11-21 23:14] sanchi opened #137 "going back and forth from Call to Directory or Share clears the dialed number"
it would be nice to keep the number there.

[2017-11-21 23:19] sanchi opened #138 "Directory: Clicking Name in Contact list doesn't load the number"
In "Pearl Lagoon Directory", clicking e.g. somewhere in the Text  "Green Lodge" does load the number (49927). In the private directory, clicking on a Name doesn't do anything, one needs to click on the phone icon on the right to load the number. It's a bit confusing, and therefore would be nice to be able to call by clicking on the name.

[2017-11-21 23:21] sanchi opened #139 "Directory: Collapsed status of PL Directory isn't remembered"
When collapsing "Pearl Lagoon Directory" and doing anything like changing to "Call", opening Contact etc, "Pearl Lagoon Directory" is open again. This is a little bit annoying for someone who doesn't use the PL directory often, therefore it would be nice to remember the state of those.

[2017-11-21 23:24] sanchi opened #140 "Add conference numbers to Directory"
The conference numbers (starting with 500) could possibly be added to the Directory, so people know how they could easily create a conference. Possibly the prefix might be changed to be able to route calls from Saycel/Rhizomatica to it, e.g. 999100500?

[2017-11-21 23:24] rodrigomonelos commented on #131
I can not reproduce it now either.
I can try running those commands anyway but I will need instructions: how do I ssh to rhizortc?
Also @gmarcos87 can do that easily than me.

Anyway, since we are not being able to reproduce it, I would ask @Tcat1 to check if this issue is still hapenning there Can you? Steps to reproduce are:

- Establish a call from A (GSM) to B (App)
- Finish the call
- Call ag

[2017-11-21 23:26] sanchi opened #141 "Share - it's possible to send empty feedback"
The 'Send' button should probably do nothing if the text box is empty.

[2017-11-21 23:28] rodrigomonelos opened #142 "SIP Failure Code during the first ~30 a user is disconnected"
I get a __SIP Failure Code__ message on the sms-version of the app when trying to send a message to a user that has just disconnected. Messaging works fine both when both users are online as well as when the one offline has been on that state for more than ~30''.
**Steps to reproduce:**

- Text from App (A) to App (B)
- Close one of the two ends (B)
- Send a message form A to B during the followin

[2017-11-21 23:30] rodrigomonelos commented on #142
![image](https://user-images.githubusercontent.com/26839006/33102277-664f3b64-cef2-11e7-972f-53ffd33273e2.png)

[2017-11-22 16:31] sanchi commented on #142
please collect a trace from the server.
ssh root@rhizortc.specialstories.org
run this:
tail -f /var/log/daemon.log > kamailio_log_`date +"%F-%H_%M_%S"`.txt
and make the test. thanks!

[2017-11-22 23:36] Tcat1 commented on #131
Sorry Folks, No Busy Signal when calling back. In Fact Call Rings and can answer it normally. I can make a video and post it but it may take me a few days to get it uploaded due to slow internet speeds these days...

[2017-11-23 01:21] rodrigomonelos commented on #131
Why sorry man? This means that the issue is not there anymore. Or I'm
missing something...

El 22 nov. 2017 7:36 p. m., "Tcat1" <notifications@github.com> escribió:

Sorry Folks, No Busy Signal when calling back. In Fact Call Rings and can
answer it normally. I can make a video and post it but it may take me a few
days to get it uploaded due to slow internet speeds these days...

—
You are receivi

[2017-11-24 09:11] gmarcos87 commented on #131
I could not reproduce the error either. @rodrigomonelos this is not the case of Kamailio's delay. That error occurs when the user disconnects, not after a call. With the changes that @sanchi made, the notification arrives but the call was dropped instantly.

[2017-11-24 12:27] rodrigomonelos commented on #131
Ok, so we all agree that there is not happening any more that the caller
gets the busy reply when calling someone that has just finished a call,
right?
From the rest of the message it is not clear to me if there is another
issue that need to be addressed. @gmarcos87, can you define the issue (if
there is one) or send me an audio to help me understanding? Thanks

2017-11-24 5:11 GMT-04:00 Marcos Gu

[2017-11-24 12:27] #131 closed, assigned to gmarcos87, rodrigomonelos

[2017-11-24 16:07] rodrigomonelos commented on #142
I'm getting *Permission denied (publickey). *I guess this means that I'm
not authorized to ssh rhizortc (I never gave my public key for that). I
think that the shortest way to move on is @gmarcos87 to log this test,
since I understand he knows how to reproduce the SIP Failure Code message
and has the necessary permisions.
Anyway, I'm available to run the test if someone gives me the support for
th

[2017-11-25 12:27] gmarcos87 commented on #133
I am trying to find the problem, it is due to the update of some of Angular dependencies.

[2017-11-25 15:09] gmarcos87 commented on #133
It seems to result in commit 3023aac (the current version of the application). Please check if this version does not keep failing. I tried and it seems to work correctly.

[2017-11-25 15:34] gmarcos87 commented on #142
@sanchi
[code]

I did the following steps:
- I started to register the logs
- I called from app A to app B
- I answered and then I cut the call
- I closed app B
- I tried to call from A to B and the error happened.
- I stopped the logs.

[2017-11-25 17:54] rodrigomonelos commented on #133
Still not working for me on HEAD - 3023aac

[2017-11-25 18:00] rodrigomonelos commented on #111
Asked to P and R for someone ni Rhizo' network to receive the message

[2017-11-25 18:00] rodrigomonelos commented on #112
Asked to P and R for someone ni Rhizo' network to reply a message

[2017-11-25 18:28] rodrigomonelos commented on #133
Can I do something else to help with this?

[2017-11-25 20:19] gmarcos87 commented on #133
Please try again. The new version is 1aa0ac3. I had to leave many dependencies of Angular fixed that changed the way of compiling the application.

[2017-11-27 11:35] rodrigomonelos commented on #133
Tested ok

[2017-11-27 11:35] #133 closed, assigned to nobody

[2017-11-27 13:25] sanchi commented on #133
also tested, ok :)

[2017-11-27 16:49] Tcat1 commented on #131
Greetings All,

I am still seeing the app is not receiving GSM calls when app is not open.
Now though I see it has been fixed when App is open and call comes in from
GSM Pearl Cel the call does ring and shows incoming call now without having
to touch directory or other buttons on app like it was before in videos I
posted.
I have still not been able to get this busy signal message yet you all talk

[2017-11-27 17:55] sanchi commented on #142
@gmarcos87 thanks for the log (the interesting part was much lower in the log, but I could actually find it on the server).

I have added a ```t_set_disable_internal_reply(1);```  which should prevent the server from generating that reply, but I am struggling to reproduce (I get always 480 back from the app when I try to pick up - 4af84ff)

[2017-11-27 17:59] sanchi commented on #142
re log tracing: you can on rhizortc now run ```kamailio-trace```

[2017-11-27 18:00] gmarcos87 commented on #142
Can you see the app logs when try to pick up? Maybe it's an error. What
browser do you use? Are you using the app from https?

El 27 nov. 2017 2:55 p. m., "Stefan Sayer" <notifications@github.com>
escribió:

@gmarcos87 <https://github.com/gmarcos87> thanks for the log (the
interesting part was much lower in the log, but I could actually find it on
the server).

I have added a t_set_disable_interna

[2017-11-27 18:07] sanchi commented on #129
I am seeing this also with the send-sms version 4df84ff

[2017-11-27 18:44] rodrigomonelos opened #143 "Call dropped/rejected when answering from notification"
See video: https://photos.app.goo.gl/t92LHQAiGwWkZJn52

[2017-11-27 18:59] rodrigomonelos commented on #142
Hi @sanchi I tested and I still get the "SIP Failure Code" message.
Anyway, I'm a bit confused with the conversation you are having. You talk about "calling" and this issue is happening with texting.

[2017-11-27 19:44] gmarcos87 commented on #142
Is related to the user status. It is independent of whether it is call or message.

[2017-11-27 19:45] gmarcos87 commented on #135
Ok, I will change the code

[2017-11-27 19:48] gmarcos87 commented on #143
What is your scenario? The app was closed or minimized? Is the version of pearlcel.webph.one or some other test?

[2017-11-27 21:54] rodrigomonelos commented on #143
In this case the app was minimized. I can test later with the app closed.
This is the PearlCel version.

El 27 nov. 2017 3:48 p. m., "Marcos Gutierrez" <notifications@github.com>
escribió:

What is your scenario? The app was closed or minimized? Is the version of
pearlcel.webph.one or some other test?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2017-11-27 22:29] Tcat1 commented on #131
Here is the latest video of GSM to App Calls Not Working when app is not
open. Be sure to also review comments section of this video for more links
to other videos of when GSM to App calls were working ...

https://youtu.be/FTn4jvJhmak

On 27 November 2017 at 10:49, Say Cel <saycelrpw@gmail.com> wrote:

[2017-11-27 23:34] sanchi commented on #142
hm, can you please try to get  a log? @rodrigomonelos your key is on the server. just ssh to it (ssh rhizortc.specialstories.org) and run kamailio-trace

[2017-11-28 01:18] Tcat1 commented on #131
A video of how GSM to App Calls are being received well now but only when
app is open...

https://youtu.be/qLbXkc9Imc8

On 27 November 2017 at 16:29, Say Cel <saycelrpw@gmail.com> wrote:

[2017-11-28 14:41] rodrigomonelos opened #144 "GSM in PL to App not ringing on caller nor in the receiver"
Reported originally by @tcat1 on #131

What extra info or tests do we need to get deeper into this case @sanchi @gmarcos87?

[2017-11-28 14:47] rodrigomonelos commented on #131
Thanks a lot Thomas. I'm moving this comments to #144 so we follow the specific case

[2017-11-29 13:30] gmarcos87 commented on #143
Hi, there I was trying to understand why the behavior change. What I notice is that before when the user registered in Kamailio there was an incoming call the system notified it. Now if there is a call in progress prior to the user's registration, the frontend does not receive it. Has any configuration changed in the backend related to this? @sanchi

[2017-11-29 13:49] #135 closed, assigned to gmarcos87

[2017-11-29 15:53] sanchi commented on #143
duplicate of #129 ?

[2017-11-29 15:59] sanchi commented on #143
@gmarcos87 this has not changed. But I have added something so that if there's a call in progress and the app re-registers its contact it gets the call again (which it should have already got)

[2017-11-29 16:01] sanchi commented on #129
and i still can't figure out why the app is sending 480 as I can't get the log from my Chrome mobile... @gmarcos87 can you reproduce this?

[2017-11-29 16:08] sanchi commented on #135
thanks!

[2017-11-29 16:34] gmarcos87 commented on #129
I can not reproduce, but what is your situation? Installed application or web? https or http address?
It only happened to me entering through http (that does not give permission of microphone or camera).

[2017-11-29 18:40] rodrigomonelos commented on #142
I logged in and ran the command you indicated, getting a *cannot open* error
message. Find below the log from my terminal.
I ran the test anyway, I don't know if there is something logged anyway.
I also remember you saying that we should turn off the logging after
testing. I do not know if it is actually turned on, but anyway can you
check if it is necessary to turn it off?

tnks

rodrigo@rodrigo-

[2017-11-29 18:52] rodrigomonelos commented on #143
@gmarcos87 I tested now with the app closed. The behaviour is different but also a bug. In this case, with the app closed, the call is not accepted nor rejected when tapping on the answer button.
See the video in the link: https://photos.app.goo.gl/2eOuxFticNNxL43s1

[2017-11-29 19:20] rodrigomonelos commented on #143
Does someone has or expects to have a clue about how to move on?

[2017-11-29 19:37] rodrigomonelos commented on #144
Guys, can you give priority to this issue? I think it is one of our two critical issues, maybe even a blocker for the controlled release that is being prepared for Sunday

[2017-11-30 14:22] sanchi opened #145 "error when opening the app for the first time"
When opening the app for the first time, no calls can be made. Only after reloading (F5), it works fine.

![screenshot from 2017-11-30 15-21-38](https://user-images.githubusercontent.com/45229/33435329-3338a76e-d5e2-11e7-8b3b-d5b97038cdb6.png)

[2017-11-30 14:26] sanchi commented on #145
the same from the pearlcel version HEAD - 28ae641 :

![screenshot from 2017-11-30 15-08-07](https://user-images.githubusercontent.com/45229/33435389-510f4144-d5e2-11e7-8da2-88e4dc157e60.png)

[2017-11-30 15:24] sanchi commented on #117
i think it's fixed meanwhile

[2017-11-30 15:24] #117 closed, assigned to nobody

[2017-12-01 14:59] rodrigomonelos commented on #143
I ran the test after initiating the log in kamailio but I do not know if this created any log. Did it?. This is the info in my terminal

The test was with the app closed, and now the call is not dropped nor accepted when I tap on both the answe and the reject buttons, it just does nothing.

I will look later how to log with logcat and let you know.

[2017-12-01 15:01] sanchi commented on #143
On 1 Dec 2017 3:59 p.m., "rodrigomonelos" <notifications@github.com> wrote:

I ran the test after initiating the log in kamailio but I do not know if
this created any log. Did it?. This is the info in my terminal

root@rhizortc:~# kamailio-trace
running tail -f /var/log/daemon.log > kamailio_log_2017-12-01-14_52_19.txt

You can see the result in this file (kamailio_log_...)

packet_write_wait: Con

[2017-12-01 18:23] rodrigomonelos commented on #144
@sanchi we are trying to log the test with @Tcat1 but every time I get the _broken pipe_ message. I do not know why is this, maybe my network has micro cuts.
Maybe you can coordinate with Tomas to start the log for his tests...?

[2017-12-01 22:55] sanchi commented on #144
Odd. Or use nohup kamailio-trace and later kill it

On 1 Dec 2017 7:23 p.m., "rodrigomonelos" <notifications@github.com> wrote:

[2017-12-01 23:01] rodrigomonelos commented on #144
Ok. How do I kill it?

[2017-12-01 23:03] sanchi commented on #144
ps auxf
To find out process id and then kill <id> or kill -9 id

On 2 Dec 2017 12:01 a.m., "rodrigomonelos" <notifications@github.com> wrote:

[2017-12-01 23:55] rodrigomonelos commented on #143
I did 5 tests of trying to answer a call from the notification, 3 with the app closed and 2 with the app in background. In none of them I could get the expecting result of connecting the call.

Following you will find my report of each test. I recorded the local time that I think will be useful to match  each report with the logs on the server, and for most of the cases I captured the screens on t

[2017-12-02 00:30] rodrigomonelos commented on #144
Tested by @Tcat1 and hopefully logged. Can you check? Test were performed between 20:20 and 20:25 UTC-4. Logging killed after. Videos were recorded and will be posted by the Nica man once they are uploaded.

[2017-12-02 00:36] rodrigomonelos opened #146 "Change prefixes on the app"

[2017-12-02 00:43] sanchi commented on #129
installed app on chrome/mobile. https address

[2017-12-02 00:59] sanchi commented on #144
- one call 00:23:03 30108743333 -> 99910045334: got 180 ringing from app, then 00:23:31 cancel (from caller)
- call 00:23:39 30108743333 -> 99910045334: got 200 ok at 00:23:46 ; got BYE 00:23:49 from App (callee)
- call 00:27:26 to 500

so not really anything that went wrong there on the server side

[2017-12-02 01:04] rodrigomonelos commented on #144
So maybe we will need Thomas to log the app with aLogcat or similar?

[2017-12-02 01:07] rodrigomonelos commented on #144
Will be great for that if you confirm that my logging in #143 is useful or if we need to do it in a different way

[2017-12-02 01:48] sanchi commented on #143
these logs don't seem to me to say very much.

but after analysing lots of the logs I found an issue on Test number 5 - when the server would store a transaction after having failed to send the INVITE out on a not-anymore-existing connection, it would use the wrong user. I've fixed this (with [master 5a84f07] b/f:cfg:use correct callee when storing transaction after failed t_relay) and reloaded th

[2017-12-02 14:16] #146 closed, assigned to nobody

[2017-12-02 15:00] gmarcos87 commented on #145
Hi @sanchi, can you try now (version #c165045 or higher).
If it is ok, please close the issue.

Thanks for the report!

[2017-12-02 15:04] gmarcos87 commented on #144
What is your battery level at the time of testing? I notice that Andriod manages notifications, audio and connections differently when the battery is below 15%.

[2017-12-02 15:27] gmarcos87 commented on #143
Ok, I was doing some tests too.

1 - App to app open (works)
2 - App to app minimized (works / low battery not work)
3 - App closed (Notification works, open and register but never get the call from jssip)
4 - App to app already open in test 3 - Nothing happen, app not get any log from jssip)
5 - Same app to 500 - Works!
6 - App to app open in test 3 - Now work!

In spite of being the registered u

[2017-12-02 15:46] gmarcos87 commented on #128
Works.

[2017-12-02 15:46] #128 closed, assigned to gmarcos87

[2017-12-02 15:48] gmarcos87 commented on #129
Ok, can you debug the application on Android and send me the logs?
https://developers.google.com/web/tools/chrome-devtools/remote-debugging/

[2017-12-02 16:16] rodrigomonelos commented on #143
I did new tests and logged them, you can find them below. But first I will **comment on Marcos results**:
I had **similar results**:
- in the beggining couldn't receive a notification with the app closed (test 6) nor in background (test 7).
- App open works fine
- Had to receive a call with the app open (test 8) to start receiving notifications (tests 9, 10 and 11).

**Differences** in my results

[2017-12-14 16:11] sanchi commented on #129
finally got my hands on a USB-debuggable device... To me it looks as if when the Chrome remote-debugging is enabled, the app stays always open (connected), so it works (clicking on the notification only pushes the app to the foreground and accepts the call, that works).

I caught one instance of 480 with adb logcat - but it doesn't make any sense to me. It says 'status changed to CONFIRMED' and th

[2017-12-14 16:44] sanchi opened #147 "can't open app from notifications"
Opening the App from notification works when the app is still in the background. When it is not in the background (e.g.: click on android 'open windows' button bottom left; then closing both Chrome and App windows), the notification comes in but it's not possible to click on the Answer button.

adb logcat:

[code]

[2017-12-14 16:49] sanchi commented on #147
hm, not sure about this phone at all. maybe there's not so much we can do about it.

[2017-12-14 16:49] #147 closed, assigned to nobody

[2018-02-14 21:45] nicopace opened #148 "If allocate number is not available on first run, it seems it doesn't request it anymore"

[2018-02-14 21:46] #148 closed, assigned to nobody

[2018-02-14 21:46] nicopace commented on #148
My mistake

[2018-02-15 00:09] sanchi commented on #148
I think the first time you open the app URL it allocates the number but then doesn't initialize the client (https://github.com/saycel/webph.one/issues/145)